<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.mapper.EmployeeMapper">

    <resultMap id="employeeResultMap" type="employee">
        <result property="staffId" column="staff_id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="employmentStatus" column="employment_status"/>
        <result property="deptId" column="dept_id"/>
        <result property="posId" column="pos_id"/>
    </resultMap>
    <!--批量删除-->
    <delete id="deleteByIds">
        -- from tb_employee where id in (?,?,?)
        delete
        from tb_employee
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--分页条件查询-->
    <select id="selectByPageAndCondition" resultMap="employeeResultMap">
        select *
        from tb_employee
        <where>
            <if test="employee.staffId != null and employee.staffId != ''">
                and staff_id like #{employee.staffId}
            </if>

            <if test="employee.employeeName != null and employee.employeeName != ''">
                and employee_name like #{employee.employeeName}
            </if>

            <if test="employee.employmentStatus != null">
                and employment_status = #{employee.employmentStatus}
            </if>

            <if test="employee.id != null">
                and id = #{employee.id}
            </if>

        </where>
        limit #{begin},#{size}
    </select>

    <!--根据条件查询总记录数-->
    <select id="selectTotalCountByCondition" resultType="int">
        select count(*)
        from tb_employee
        <where>
            <if test="staffId != null and staffId != ''">
                and staff_id like #{staffId}
            </if>

            <if test="employeeName != null and employeeName != ''">
                and employee_name like #{employeeName}
            </if>

            <if test="employmentStatus != null">
                and employment_status = #{employmentStatus}
            </if>

            <if test="id != null">
                and id = #{id}
            </if>

        </where>
    </select>

</mapper>