<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.mapper.EmployeeMapper">

    <resultMap id="EmployeeResultMap" type="employee">
        <result property="staffId" column="staff_id" />
        <result property="employeeName" column="employee_name" />
        <result property="employmentStatus" column="employment_status" />
        <result property="basicSalary" column="basic_salary" />
        <result property="attendanceCount" column="attendance_count" />
    </resultMap>


</mapper>