<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.turing.mapper.TrainMapper">

    <!--批量删除-->
    <delete id="deleteByIds">
        -- from tb_train where id in (?,?,?)
        delete
        from emptrain
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--分页条件查询-->
    <select id="selectByPageAndCondition" resultType="com.turing.pojo.Train">

        select *
        from emptrain
        <where>
            <if test="train.eid != null">
                and eid = #{train.eid}
            </if>
        </where>
        limit #{begin},#{size}

    </select>

    <!--根据条件查询总记录数-->
    <select id="selectTotalCountByCondition" resultType="int">
        select count(*)
        from emptrain
        <where>
            <if test="eid != null">
                and eid = #{eid}
            </if>
        </where>
    </select>
</mapper>